/**
    Author @pierrecbrito
*/

* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

#tabela, th, td  {
    border: 2px solid #2D2D2D;
    border-collapse: collapse;
    overflow: hidden;
    z-index: 5;
}

#tabela td {
    padding: 1em 2em;
    color: #FFFFFF;
    position: relative;
    z-index: 5;
}

#container-principal {
    min-height: 100vh;
    width: 100%;
    background-color: #111111;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    flex-direction: column;
}

.linha-diagonal {
    width: 130%;
    position: absolute;
    left: -13px;
    height: 2px;
    background-color: #2D2D2D;
    transform: rotate(146deg);
}

.numero-superior {
    position: absolute;
    top: 0.40em;
    left: 0.90em;
    z-index: 5;
}

.numero-inferior {
    position: absolute;
    top: 1.5em;
    left: 3em;
    z-index: 5;
}

.destaque {
    background-color: #111111;
    color: #FFFFFF;
    animation-name: destacando;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
}

.cruzada:after { 
    content: '';
    position: absolute;
    padding-bottom: 133%;
    left: 20%;
    width: 112%;
    transition: all 1s;
    transform: rotate(56deg);
    top: 14px;
} 

.cruzada:before { 
    content: '';
    position: absolute;
    padding-bottom: 135%;
    left: -35%;
    width: 111%;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(56deg);
    top: -60px;
} 

.destaque-emcima:before {
    animation-name: destacando;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
}
  

.destaque-embaixo:after {
    animation-name: destacando;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
}
  

@keyframes destacando {
    from {background-color: #111111}
    to { background-color: #8B17FA;}
}

#formulario {
    padding: 1em;
}

#x-multiplicar {
    color: #FFFFFF;
}

#operando1, #operando2 {
    padding: 5px 10px;
    border: 1px solid #F1F1F1 !important;
    outline: none !important;
    background-color: gainsboro;
}

#botao-multiplicar {
    background-color: #8B17FA;
    color: #FFFFFF;
    border: none !important;
    outline: none !important;
    transition: 1s;
    padding: 6px 10px;
    cursor: pointer;
}

#botao-multiplicar:hover {
    transform: translateY(-2px);
}

#resultado {
    display: flex;
    justify-content: center;
    align-items: center;
}

.algarismo {
    background-color: #1F1F1F;
    padding: 8px 13px;
    margin: 1em 3px;
    border-radius: 5px;
    color: #FFFFFF;
}




